<!--
  @description       : 
  @author            : majodhani@concret.io
  @group             : 
  @last modified on  : 04-21-2021
  @last modified by  : majodhani@concret.io
  Modifications Log 
  Ver   Date         Author                 Modification
  1.0   04-21-2021   majodhani@concret.io   Initial Version
-->
<template>
    <div class="slds-grid">
        <div class="slds-welcome-mat__info slds-size_1-of-2">
            <div class="slds-welcome-mat__info-content">
                <div style="font-weight: bold; font-size: 36px" class="slds-text-align_center slds-m-bottom_large">The Lightning Experience is here!</div>
                <div class="slds-text-body_regular slds-m-bottom_large">Welcome to Lightning Experience, the modern, beautiful user experience from Salesforce. With a sales-and service-centric mindset, we focused on reinventing the desktop environment to better support your business processes.</div>
                <div class="slds-text-title_bold slds-m-bottom_large">0/5 units completed</div>
                <lightning-progress-bar size="medium" value="0" variant="circular"></lightning-progress-bar>
            </div>
        </div>
        
        </div>

</template>