<!--
  @description       : 
  @author            : majodhani@concret.io
  @group             : 
  @last modified on  : 04-21-2021
  @last modified by  : majodhani@concret.io
  Modifications Log 
  Ver   Date         Author                 Modification
  1.0   04-21-2021   majodhani@concret.io   Initial Version
-->
<template>
    <div class="slds-box container">
        <lightning-layout pull-to-boundary="medium" multiple-rows="true">
            <lightning-layout-item small-device-size="2" medium-device-size="2" large-device-size="2" padding="horizontal-medium" size="2"><img src="https://firebasestorage.googleapis.com/v0/b/avonni-builder-dev.appspot.com/o/projects%2FRSqXMKyQ9NQew0NCmlr0%2Fcontentassets%2FuYriOqAmF9rc5fPBovFB%2FCapture%20d%E2%80%99e%CC%81cran%2C%20le%202021-01-27%20a%CC%80%2010.38.33.png?alt=media" /></lightning-layout-item>
            <lightning-layout-item small-device-size="10" medium-device-size="10" large-device-size="10" padding="horizontal-medium" size="10">
                <div class="slds-text-heading_small">Authication Require for Configure</div>
                <p>Update the name credentails</p>
                <div class="slds-m-top_small">
                    <lightning-input type="radio" label="Check the permission set was assigned to you" name="options" value="1" title="d" class="avtemplate-radio__border-color_brand slds-text-title_bold" variant="standard" disabled="true"></lightning-input>
                </div>
                <div class="slds-m-top_small">
                    <lightning-input type="radio" label="Go to the user setting" name="options" value="1" title="d" class="avtemplate-radio__border-color_brand slds-text-title_bold" variant="standard" disabled="true"></lightning-input>
                    <p class="slds-p-left_large">Authentication Settings for External Systems</p>
                </div>
                <div class="slds-m-top_small">
                    <lightning-input type="radio" label="Set up user authentication for third-party systems" name="options" value="1" title="d" class="avtemplate-radio__border-color_brand slds-text-title_bold" disabled="true"></lightning-input>
                    <p class="slds-p-left_large"><a>Tell me how</a></p>
                </div>
            </lightning-layout-item>
        </lightning-layout>
    </div>
</template>