<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 04-21-2021
  @last modified by  : majodhani@concret.io
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   04-20-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
   
        <lightning-card title="Lightning Web Component using Quick Action">
            <div class="slds-p-around_small">
                Current Record ID in Lightning Web Component using Quick Action: <strong>{recordId}</strong> <br/><br/>
            </div>
        </lightning-card>
                <c-auth-setup ></c-auth-setup>
   
   
</template>